// COLORS 
$body-bg:      #25232b;
$white:        #fff;
$light-orange: #ff8a00;
$light-orange-70: rgba($light-orange, .7);

// CARDS 
$card-width: 175px;

// OTHER
$border-radius-sm: .25rem;
$transition: .2s all ease-in-out;